.header{
      color:rgb(0, 0, 0);
      background-color: rgb(190, 173, 173);
      height: 100px;
}

.head{
      color:black;

}

.div-header{
      height: 150px;
      background-color: rgb(190, 173, 173);
}
